<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sandbox:: Favourite Food</title>
    <script src="/main.js" defer></script>
</head>
<body>
    <div id="body-container">
        <div id="title-container">
            <h1>Favourite Food</h1>
        </div>
        <form class="input-form">
            <input type="text" id="input-of-food" placeholder="Enter your favourite Food">
            <button type="submit" id="submit-button"></button>
            <button type="submit" id="update-button"></button>
            <button type="submit" id="delete-button"></button>
        </form>
    </div>
</body>
</html>